.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 90%;
  flex-wrap: wrap;

  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-evenly, center, row);
    flex: 1 1 30rem;
  }
}

.intro {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 4rem;
    // padding-top: 1rem;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  h3 {
    font-size: 3rem;
    padding: 1rem 0rem;
  }
  p {
    font-size: 2rem;
    padding-top: 1rem;
    color: $grey-text;
    line-height: 3rem;
  }
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 3rem;
  }
}

.active {
  background: $grey-text;
  padding: 1rem 2rem;
  color: #ffffff;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}
.intro-images svg {
  width: 100%;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#clock-arrow {
  animation: clock 50s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
